@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


body {
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.main-box {
  min-width: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


#text-box {
  background-color: hsl(244, 38%, 16%);
  padding: 60px 110px 60px 60px;
  width: 570px;
  min-width: 300px;
  display: flex;
  flex-direction: column;

  font-weight: 700;
  border-radius: 10px 0 0 10px;
  height: 450px;
  box-sizing: border-box;
}

#text-box h1 {
  font-size: 36px;
  line-height: 120%;
  /* margin-bottom: 35px; */
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  box-sizing: border-box;
}
#text-box span {
  color: hsl(277, 64%, 61%);
}
#para-box {
  padding-right: 20px;
  /* border: 1px solid red; */
  font-size: 15px;
  font-weight: lighter;
  /* margin-bottom: 70px; */
  line-height: 150%;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 80px;
  box-sizing: border-box;
}

#main-small-box {
  display: flex;
  font-family: "Lexend Deca", sans-serif;
  line-height: 200%;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: hsla(0, 0%, 100%, 0.75);

  box-sizing: border-box;
}

.small-box h2 {
  font-size: 25px;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
}
#small-box-1 {
  margin-right: 60px;
  box-sizing: border-box;
}
#small-box-2 {
  margin-right: 45px;
  box-sizing: border-box;
}

#image-box {
  height: 450px;
  min-height: 10em;
  width: 540px;
  min-width: 200px;
  border-radius: 0 10px 10px 0;
  background: url(../images/image-header-desktop.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#overlay {
  height: 100%;
  background: hsl(277, 64%, 61%);
  mix-blend-mode: multiply;
}
/* footer */
.container {
  width: 720px;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 120%;
  margin-bottom: 10px;
}
.container a {
  color: hsl(277, 64%, 61%);
}

/* media queries */

@media only screen and (max-width: 1060px) {
  
  #text-box {
   
    padding: 68px;
    font-size: 12px;
    min-height: 446px;
    box-sizing: border-box;
  }
  #text-box h1 {
    font-size: 30px;
    
    box-sizing: border-box;
  }
  #text-box span {
    color: hsl(277, 64%, 61%);
  }
  #para-box {
    padding-right: 14px;
    /* border: 1px solid red; */
    font-size: 15px;
    font-weight: lighter;
    /* margin-bottom: 70px; */
    line-height: 200%;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 70px;
    box-sizing: border-box;
  }
  
  #main-small-box {
    display: flex;
    font-family: "Lexend Deca", sans-serif;
    line-height: 200%;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: hsla(0, 0%, 100%, 0.75);
  
    box-sizing: border-box;
  }
  
  .small-box h2 {
    font-size: 25px;
    
  }
  

  #image-box {
    height: 446px;
    
  }
  #small-box-1 {
    margin-right: 20px;
    box-sizing: border-box;
  }
  #small-box-2 {
    margin-right: 20px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 850px) {
  #text-box {
    
    padding: 50px;
    }
  #para-box{
    margin: 0px;
    margin-bottom: 90px;
  }
}

@media only screen and (max-width: 779px) {
  #text-box {
   
    padding: 50px;
    font-size: 12px;
    min-height: 446px;
    box-sizing: border-box;
  }
  
  #para-box {
   
    
    margin-bottom: 44.5px;
    box-sizing: border-box;
  }
}


@media only screen and (max-width: 710px) {
  #text-box {
    
    padding: 50px;
    }
}

@media only screen and (max-width: 677px) {
  #text-box {
    
    padding: 35px;
    }
}

@media only screen and (max-width: 625px) {
  .main-box {
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  #image-box {
    width: 654px;
    height: 480px;
    background: url(../images/image-header-mobile.jpg);
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  #text-box {
    background-color: hsl(244, 38%, 16%);
    padding: 75px 60px 60px 60px;
    width: 654px;
    /* min-width: 300px; */

    font-weight: 700;
    border-radius: 0px 0 10px 10px;
    min-height: 480px;
    box-sizing: border-box;
  }
  #text-box h1 {
    font-size: 53px;
    text-align: center;
    line-height: 120%;
    margin-bottom: 0.75em;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
  }
  #text-box span {
    color: hsl(277, 64%, 61%);
  }
  #para-box {
    font-size: 29.5px;
    padding-right: 0px;
    text-align: center;
    /* border: 1px solid red; */
    font-weight: lighter;
    margin-bottom: 50px;
    line-height: 200%;
    color: hsla(0, 0%, 100%, 0.75);
    box-sizing: border-box;
  }

  #main-small-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Lexend Deca", sans-serif;
    line-height: 200%;
    font-size: 29.5px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: hsla(0, 0%, 100%, 0.75);
    box-sizing: border-box;
  }

  .small-box h2 {
    font-size: 53px;
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
  }

  #small-box-1 {
    margin-right: 0px;
    margin-bottom: 50px;
  }
  #small-box-2 {
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .container {
    
    margin: auto;
    
    
    margin-top: 10px;
  }
}
